server:
  port: 21511

spring:
  application:
    name: communication_service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${COMMUNICATION_DB_NAME:ds_communication_service}?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Ho_Chi_Minh

logging:
  level:
    root: ERROR
    com.ds.communication_service: INFO
    org.springframework: ERROR
    org.springframework.web: ERROR
    org.springframework.boot: ERROR
    org.hibernate: ERROR
    com.zaxxer.hikari: ERROR

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator
  endpoint:
    health:
      show-details: always

services:
    session:
      base-url: ${SESSION_SERVICE_URL:http://localhost:21505}
