CORE_SERVICE_GRPC_HOST=core_service
USER_MODULE_GRPC_HOST=user-service
REVIEW_SERVICE_GRPC_HOST=review_service
VOUCHER_SERVICE_GRPC_HOST=voucher_service

# =============================================================================
# PORT CONFIGURATION
# =============================================================================
API_GATEWAY_SERVER_PORT=21500
API_GATEWAY_GRPC_PORT=21000

# =============================================================================
# GRPC PORT CONFIGURATION
# =============================================================================
CORE_SERVICE_GRPC_PORT=21000
USER_MODULE_GRPC_PORT=21001
REVIEW_SERVICE_GRPC_PORT=21002
VOUCHER_SERVICE_GRPC_PORT=21003

USER_MODULE_DB_PORT=3306
KEYCLOAK_PORT=8080

# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=admin
USER_MODULE_DB_NAME=datn_user_db
USER_MODULE_DB_URL=jdbc:mysql://${DB_HOST}:${DB_PORT}/${USER_MODULE_DB_NAME}?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC
USER_MODULE_DB_USERNAME=${DB_USERNAME}
USER_MODULE_DB_PASSWORD=${DB_PASSWORD}

# =============================================================================
# KEYCLOAK CONFIGURATION
# =============================================================================
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:${KEYCLOAK_PORT}
KEYCLOAK_REALM=keycloak
KEYCLOAK_RESOURCE=doantotnghiep
KEYCLOAK_CREDENTIALS_USERNAME=dev
KEYCLOAK_CREDENTIALS_PASSWORD=dev
KEYCLOAK_CREDENTIALS_SECRET=46sGOyba6nyt8UhLkKAQgzmbedF9L042

# =============================================================================
# JWT CONFIGURATION
# =============================================================================
JWT_RESOURCE_ID=doantotnghiep
JWT_PRINCIPAL_ATTRIBUTE=sub

# =============================================================================
# CORE SERVICE - SERVICE SPECIFIC ENVIRONMENT
# =============================================================================

# =============================================================================
# PORT CONFIGURATION
# =============================================================================
CORE_SERVICE_DB_PORT=3306

# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
CORE_SERVICE_DB_HOST=mysql
CORE_SERVICE_DB_NAME=core_service
CORE_SERVICE_DB_URL=jdbc:mysql://${CORE_SERVICE_DB_HOST}:${CORE_SERVICE_DB_PORT}/${CORE_SERVICE_DB_NAME}
CORE_SERVICE_DB_USERNAME=root
CORE_SERVICE_DB_PASSWORD=admin

# =============================================================================
# REVIEW SERVICE - SERVICE SPECIFIC ENVIRONMENT
# =============================================================================

# =============================================================================
# PORT CONFIGURATION
# =============================================================================
REVIEW_SERVICE_DB_PORT=3306

# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
REVIEW_SERVICE_DB_HOST=mysql
REVIEW_SERVICE_DB_NAME=review_service
REVIEW_SERVICE_DB_URL=jdbc:mysql://${REVIEW_SERVICE_DB_HOST}:${REVIEW_SERVICE_DB_PORT}/${REVIEW_SERVICE_DB_NAME}
REVIEW_SERVICE_DB_USERNAME=root
REVIEW_SERVICE_DB_PASSWORD=admin

# =============================================================================
# VOUCHER SERVICE - SERVICE SPECIFIC ENVIRONMENT
# =============================================================================

# =============================================================================
# PORT CONFIGURATION
# =============================================================================
VOUCHER_SERVICE_DB_PORT=3306

# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
VOUCHER_SERVICE_DB_HOST=mysql
VOUCHER_SERVICE_DB_NAME=voucher_service
VOUCHER_SERVICE_DB_URL=jdbc:mysql://${VOUCHER_SERVICE_DB_HOST}:${VOUCHER_SERVICE_DB_PORT}/${VOUCHER_SERVICE_DB_NAME}
VOUCHER_SERVICE_DB_USERNAME=root
VOUCHER_SERVICE_DB_PASSWORD=admin

# =============================================================================
# MONGODB CONFIGURATION
# =============================================================================
MONGODB_PORT=27017
MONGODB_HOST=mongodb
MONGODB_USERNAME=root
MONGODB_PASSWORD=admin

# =============================================================================
# CRON CONFIGURATION
# =============================================================================
ORDER_SYNC_USER_STATUS_CRON=0 */10 * * * * 
